---
---

@import  " {{ site.theme }} " ;

header{
    float:none;
    width: 860px;
    position: relative;

    h1{
        text-align: center;
        border-bottom: 1px solid #7e7e7e;
        margin-bottom: 24px;
    }
}

footer{
    float: none;
    position: inherit;
    width: 860px;
}
section{
    float: none;
    width: 860px;
}