---
---

@import  " {{ site.theme }} " ;

header{
    float:none;
    width: 860;
    position: relative;
}
footer{
    float: none;
    position: inherit;
    width: 860;
}
section{
    float: none;
    width: 860;
}